/* CSS VARIABLES */
:root {
  --color-primary: #1C92D2;
  --color-secondary: #56CCF2;
  --color-light-gray-1: #ecf0f1;
  --color-light-gray-2: #bdc3c7;
  --color-dark-gray-1: #95a5a6;
  --color-dark-gray-2: #7f8c8d;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
} 

html {
  font-size: 62.5%; /* 10px this makes using em's easier */
}

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
